
<!DOCTYPE html>
<html>
<head>
  <script type="module" src="./chat.js"></script>
  <link rel="stylesheet" href="./style.css">
  <title>World's Greatest Chat App</title>
</head>
<body>
  <div id="app">
    
    <!-- If we're not logged in, hide everything except the login button -->
    <template v-if="!$gf.me">
      <button @click="$gf.toggleLogIn">
        Log In
      </button>
    </template>

    <template v-else>

      <template v-if="popupSelection === 'profile'">
        <div class="profile">
          <!-- Begin problem 3 solution -->
          <h2>
            Welcome {{myUsername}}
            <button @click="$gf.toggleLogIn">
              Log Out
            </button>
          </h2>
          <!-- End problem 3 solution -->
          
          <!-- Begin Problem 1 Solution -->
          <p>
            <form @submit.prevent="setUsername">
              <input v-model="preferredUsername" placeholder="Choose a username..."/>
              <input type="submit" value="Set Username"/>
            </form>
            {{ usernameResult }}
          </p>
          <!-- End Problem 1 Solution -->

          <p>
            <!-- We display names in multiple places, so we made a -->
            <!-- reusable <name></name> component. -->
            <!-- See below for the template. -->
            My Name Is: <name :actor="$gf.me" :editable="true"></name>
            <br>
            My Profile Picture Is: <profile-picture :actor="$gf.me" :editable="true"></profile-picture>
          </p>

          <button @click="popupSelection=''">
            ⬅️
          </button>
        </div>
      </template>

      <template v-if="group && popupSelection === 'members'">
        <div class="members">
          <h3>Members</h3>
          <ul>
            <li v-for="m of members" :key="m.id">
              <name :actor="m.userid"></name>
              <button @click="removeMember(m.userid)">X</button>
            </li>
            <li>
              <form @submit.prevent="addMember">
                <input v-model="newMemberName"/>
                <input type="submit" value="Send" placeholder="enter a username..."/>
              </form>
            </li>
          </ul>
          <button @click="popupSelection=''">
            ⬅️
          </button>
        </div>
      </template>

      <div class="wrapper">
      
        <div class="left-panel">
          <h3>
            <button @click="popupSelection = popupSelection === 'profile' ? '' : 'profile'">👤</button>
            My Groups:
          </h3>
          <ul>
            <li v-for="g of groups" :key="g.id">
              <label>
                <input type="radio" name="groups" :value="g.groupid" v-model="group">
                <group :groupid="g.groupid"></group>
              </label>
            </li>
            <li>
              <button @click="createGroup">Create new group</button>
            </li>
          </ul>
        </div>

        <div class="middle-panel">
          <template v-if="group">
            <h3>
              <button @click="popupSelection = popupSelection === 'members' ? '' : 'members'">👥</button>
              <group :groupid="group" :editable="true"></group>
            </h3>

            <h4>Channels</h4>
            <ul>
              <li v-for="c of channels" :key="c.id">
                <label>
                  <input type="radio" name="channels" :value="c.channelid" v-model="channel">
                  <channel :channelid="c.channelid"></channel>
                </label>
              </li>
              <li>
                <button @click="createChannel">Create new channel</button>
              </li>
            </ul>
          </template>
        </div>

        <div class="right-panel">
          <h2 v-if="!channel">
            {{ !groups ? "Welcome! Create a new chat group to get started." : (
              !group ? "Please select a chat group, or create a new one!" : 
              "Please select a channel to chat in, or create a new one!") }}
          </h2>

          <template v-else>
            <h3>
              <channel :channelid="channel" :editable="true"></channel>
            </h3>

            <div id="message-list">
              <ul>
                <!-- List all the messages -->
                <li v-for="message of messages.slice().reverse()" :key="message.id">

                  <!-- Display and edit form if we're editing a message -->
                  <form v-if="editID==message.id" @submit.prevent="saveEditMessage(message)">
                    <input v-model="editText">
                    <input type="submit" value="Save"/>
                  </form>

                  <!-- Otherwise, display a bunch of properties from the message -->
                  <ul class="message" v-else>
                    <li class="message-header">
                      <profile-picture :actor="message.actor"></profile-picture>
                      <b><name :actor="message.actor"></name></b>
                      <i>
                        {{ (message.published === message.updated ? 
                            `Published on ${message.published.slice(5, 10)} at ${message.published.slice(11, 16)}` : 
                            `Edited on ${message.updated.slice(5, 10)} at ${message.updated.slice(11, 16)}`
                            ).replace('-', '/') + 'UTC' }}
                      </i>
                    </li>
                    <li>
                      {{ message.content }}
                      <!-- Only add these controls if the message is ours -->
                      <!-- You can't edit or delete other people's messages -->
                      <template v-if="message.actor==$gf.me">
                        <button @click="startEditMessage(message)">
                          ✏️
                        </button>
                        <button @click="removeMessage(message)">
                          🗑️
                        </button>
                      </template>
                    </li>
                    <!-- <li>
                      Published at Time: {{ message.published }}
                    </li>
                    <li>
                      Last Edited at Time: {{ message.updated }}
                    </li> -->

                    <li v-if="message.attachment && message.attachment.magnet">
                      <magnet-img :src="message.attachment.magnet"></magnet-img>
                    </li>

                    <li>
                      <like :messageid="message.id"></like>
                    </li>

                    <li>
                      <replies :messageid="message.id"></replies>
                    </li>

                    <li>
                      <read-receipts :messageid="message.id"></read-receipts>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>

            <!-- A form for sending messages -->
            <form @submit.prevent="sendMessage">
              <input id="send-message" v-model="messageText" placeholder="Type a message..." v-focus="true"/>
              <input type="submit" value="Send"/>
              <input type="file" accept="image/*" @change="onImageAttachment"/>
            </form>
          </template>
        </div>
      </div>
    </template>
  </div>

  <template id="name">
    <span v-if="!editing">

      <!-- If we're not editing the name-->
      <!-- Display the profile's name, if it exists -->
      <!-- or anonymous if it doesn't -->
      {{ profile? profile.name : 'Anonymous' }}

      <!-- Also if the name is "editable" add an edit button -->
      <button v-if="editable" @click="editName">
        Edit Name
      </button>
    </span>

    <!-- If we're in the editing state, create something to edit the name-->
    <form v-else @submit.prevent="saveName">
      <input v-model="editText"/>
      <input type="submit" value="Save Name"/>
    </form>
  </template>

  <template id="like">
    <button @click="toggleLike">
      {{ (myLikes.length? '❤️' : '🖤') + ' ' + numLikes }}
    </button>
  </template>

  <template id="profile-picture">
    <magnet-img :src="profile?profile.icon.magnet:anonymous" class="avatar"></magnet-img>

    <form v-if="editable" @submit.prevent="savePicture">
      Choose a profile Picture:
      <input type="file" accept="image/*" @change="onPicture"/>
      <input type="submit" value="Save"/>
    </form>
  </template>

  <template id="replies">
    <form @submit.prevent="postReply">
      <input class="reply" v-model="content"/>
      <input type="submit" value="Reply"/>
    </form>
    <ul>
      <li v-for="reply in replies.slice().reverse()" :key="reply.id">
        <name :actor="reply.actor"></name>:
        {{ reply.content }}
      </li>
    </ul>
  </template>

  <template id="read-receipts">
    <details>
      <summary><i>Reads</i></summary>
      <span v-for="actor in readActors">
        <name :actor="actor"></name>;
      </span>
    </details>
  </template>

  <template id="group">
    <span v-if="!editing">
      {{ name }}
      <button v-if="editable" @click="edit">✏️</button>
    </span>

    <!-- If we're in the editing state, create something to edit the name-->
    <form v-else @submit.prevent="rename">
      <input v-model="newName"/>
      <input type="submit" value="Save Name"/>
    </form>
  </template>

  <template id="channel">
    <span v-if="!editing">
      {{ name }}
      <button v-if="editable" @click="edit">✏️</button>
    </span>

    <!-- If we're in the editing state, create something to edit the name-->
    <form v-else @submit.prevent="rename">
      <input v-model="newName"/>
      <input type="submit" value="Save Name"/>
    </form>
  </template>
</body>
</html>
